body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;

}

.container {
    max-width: 1250px;
    margin-left: 25px;
    padding: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    margin-left: 5px;
    margin-right: 510px;
}

.logo {
    font-weight: bold;
    font-size: 30px;
}

nav {
    display: flex;
    margin-left: 10px;
}

nav a {
    margin-right: 24px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    text-transform: uppercase;


}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    position: relative;
}

.text-content {
    max-width: 55%;
    position: relative;
    margin-right: 300px;
}

.line {
    width: 20px;
    height: 2px;
    background-color: black;
    margin-bottom: 20px;
    position: absolute;
    top: -5px;
    left: 5px;
}

.text-content h1 {
    margin-top: 20px;
    margin-right: 20px;
    position: relative;
}

p {
    margin: 40px 0;
}

.btn {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.image-content {
    width: 67%;
    position: absolute;
    right: -470px;
    top: -350px;
    overflow: hidden;
}

.image-content img {
    width: 100%;
    border-radius: 50%;
}

.tentang-kami-content {
    text-align: center;
    padding: 50px;
    background-color: #fff;
}

.tentang-kami-content h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

.tentang-kami-content p {
    max-width: 800px;
    margin: 0 auto 40px;
    color: #555;
}

.bg-image-container {
    background-image: url('/asd.png');
    background-size: cover;
    background-position: center;
    padding: 140px 0px;
    display: flex;
    justify-content: center;

    flex-direction: column;
}

.food-sections {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.food-item {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 250px;
    position: relative;
}

.food-item img {
    border-radius: 80%;
    width: 180px;
    height: 180px;
    object-fit: cover;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
}

.food-item h3 {
    margin-top: 80px;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.food-item p {
    font-size: 0.9em;
    color: #666;
}

button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: grey;
}

.line {
    border-top: 3px solid #000;
    width: 150px;
    margin: 0 auto 20px;
}

#berita-kami {
    padding: 70px;
    max-width: 1200px;
    margin: 0 auto;
}

#berita-kami h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 60px;
    font-weight: bold;
}

.berita-container {
    display: grid;
    grid-template-areas:
        "large large small1 small2"
        "large large small3 small4";
    grid-gap: 20px;
}

.berita-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.berita-card.large {
    grid-area: large;
}

.berita-card:nth-child(2) {
    grid-area: small1;
}

.berita-card:nth-child(3) {
    grid-area: small2;
}

.berita-card:nth-child(4) {
    grid-area: small3;
}

.berita-card:nth-child(5) {
    grid-area: small4;
}

.berita-card img {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
}

.berita-card.large img {
    max-height: 300px;
}

.berita-card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.berita-card-content h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.berita-card-content p {
    color: #777;
    font-size: 14px;
    margin-bottom: 20px;
}

.berita-card-content a {
    color: #ffc62b;
    text-decoration: none;
    font-weight: bold;
}

.berita-card-content a:hover {
    text-decoration: underline;
}

#gallery-kami {
    background-color: #ffffff;
    padding: 15px;
    margin: 0px 0;
    border-radius: 10px;
}

.gallery-container {
    width: 80%;
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
}

.gallery-container h2 {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: bold;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 5px;
}

.gallery-item {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.gallery-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-button {
    margin-top: 20px;
}

.gallery-button button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.gallery-button button:hover {
    background-color: #444;
}

footer {
    background-color: #000000;
    color: white;
    padding: 3rem 5%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    margin-right: 2rem;
}

.footer-section h3 {
    margin-bottom: 1rem;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
}

.footer-section ul li a,
.footer-section p {
    color: #ccc;
    text-decoration: none;
}

.social-icons {
    margin-top: 1rem;
}

.social-icons a {
    margin-right: 0.5rem;
}

.footer-bottom {
    margin-top: 2rem;
    text-align: center;
    padding-top: 1rem;
    border-top: 1px solid #555;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        flex-direction: column;
    }

    .content {
        flex-direction: column;
        align-items: flex-start;
    }

    .image-content {
        position: static;
        width: 100%;
        margin: 20px 0;
    }

    .text-content {
        max-width: 100%;
        margin-right: 0;
    }

    .food-sections {
        flex-direction: column;
        align-items: center;
    }

    .berita-container {
        grid-template-areas:
            "large"
            "small1"
            "small2"
            "small3"
            "small4";
    }

    .gallery-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }
}
